/* Bubble chart */

circle {
    cursor: pointer;
}

img {
    width: 15vw;
}

a {
    color: black;
    font-weight: bold;
    display: block;
}

text {
    text-anchor: middle;
}

span {
    display: inline-block;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

.Portable {
    background: #FF8240;
}

.Console {
    background: #FFB440;
}

.PC {
    background: #4186D3;
}

.Mobile {
    background: #35D4A4;
}

.Web {
    background: #584CD8;
}

.tooltip {
    position: absolute;
    visibility: visible;
    background-color: white;
    display: flex;
    font-family: sans-serif;
    max-width: 30vw;
}

.tooltip div {
    padding: 10px;
}